body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: wheat;
    width: 500px;
    height: 500px;
    border: 2px dashed rebeccapurple;
    border-radius: 20px;
}

.container-selections {
    display: flex;
    margin-bottom: 30px;
}

.user-selection, .computer-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: yellow;
    border-radius: 50%;
    margin: 15px;
    width: 130px;
    height: 140px;
    
}

img {
    width: 90px;
}

.result {
    margin-top: 60px;
}